

section{
    margin: 20px;
}



h1, h2{
    color: #333;
}

p {
    font-family: sans-serif
}

footer{
    padding: 50px;
}

header{
    border: 0.5px solid rgba(18, 151, 200, 0.648);
    background-color: rgba(84, 141, 161, 0.943);
    padding-bottom: 25px;
    text-align: left;
    font-family: orpheus-pro;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

a:link, a:visited{
    font-weight: normal;
    text-decoration: none;
    color: rgb(40, 53, 57);
}
a:hover{
    color: rgb(19, 190, 252);

}
a:clicked{
    text-decoration: underline;
}

.backgroundpic{
    background-image: url('./images/catalinapic.JPG');
    background-size: cover; /* allows you to cover entire page */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw; /* 100 viewport width */
}

.project{
    width: 200px; /*square dimensions */
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; /* aligns containers side-by-side */
    text-align: center;
    line-height: 200px; /* vertically centers text */
}

#portfoliotitle{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(116, 225, 225, 0.653);
}

#profile-pic{
    width: 150px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%; /*rounded border */
}

#cover-logo{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
}


#bio, #work{
    background-color: #e9e9e9;
    padding: 15px;
}

#portfoliolinks{
    text-align: center;
}

#coverlinks{
    padding-left: 40px;
    font-family: verdana;
    font-size: medium;
}

#covertitle{
    border: 1px solid rgb(40, 52, 56);
    border-radius: 50%;
    width: 70px;
    height: 60px;
    text-align: center;
    margin-left: 30px;
}

#logo-nav{ /* ensures items are aligned properly */
    display: flex;
    align-items: center;
}

#boxmodel {
    background-color:rgba(25, 181, 238, 0.795);
    border: 3px solid rgba(93, 131, 141, 0.82);
    color: rgba(74, 102, 110, 0.934);
    margin-left: 60vw;
    margin-right: 10vw;
    text-align: right;
    font-family: didot;
    font-size: 4em;
    font-display: xx-large;
}
#border1 a{
    display: inline-block; /* ensure link does't break into new line */
    background-color: rgb(93, 131, 141);
    border: 2px solid rgba(25, 181, 238, 0.943);
    color: rgb(25, 181, 238);
    border-radius: 8px;
    padding: 10px 20px;
    margin-left: 83vw;
    text-align: center;
    font-family: didot;
}

#border1 a:hover{
    border-color: rgb(93, 131, 141);
    background-color: rgba(25, 181, 238, 0.975);
    color: rgb(93, 131, 141);
}


