

section{
    margin: 20px;
}

.nav-link.active{
    text-decoration: underline;
}

h1, h2{
    color: #333;
}

footer{
    padding: 50px;
}

header{
    font-family: verdana;
    
}

#theme{
    background-color: rgba(84, 141, 161, 0.943);
}

a:link, a:visited{
    font-weight: normal;
    text-decoration: none;
    color: rgb(40, 53, 57);
}
a:hover{
    color: rgb(19, 190, 252);

}
a:clicked{
    text-decoration: underline;
}

.backgroundpic{
    background-image: url('./images/catalinapic.JPG');
    background-size: cover; /* allows you to cover entire page */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vw; /* 100 viewport width */
}




/* probably need to fix boxmodel, border1 */
#boxmodel {
    background-color:rgba(25, 181, 238, 0.795);
    border: 3px solid rgba(93, 131, 141, 0.82);
    color: rgba(74, 102, 110, 0.934);
    margin-left: 60vw;
    margin-right: 10vw;
    text-align: right;
    font-family: didot;
    font-size: 4em;
    font-display: xx-large;
}
#border1 a{
    display: inline-block; /* ensure link does't break into new line */
    background-color: rgb(93, 131, 141);
    border: 2px solid rgba(25, 181, 238, 0.943);
    color: rgb(25, 181, 238);
    border-radius: 8px;
    padding: 10px 20px;
    margin-left: 83vw;
    text-align: center;
    font-family: didot;
}

#border1 a:hover{
    border-color: rgb(93, 131, 141);
    background-color: rgba(25, 181, 238, 0.975);
    color: rgb(93, 131, 141);
}


